<h1>Instructor: <%= @instructor.name %></h1>
<h3>Current Students:</h3>
<% @instructor.students.map do |student| %>
<ul>
<li><%= link_to student.name, student %></li>
</ul>
<% end %>
<%= button_to "Delete Instructor", @instructor, method: :delete %>
<button><%= link_to "Update Instructor", edit_instructor_path(@instructor) %></button>
<button><%= link_to "All Instructors", instructors_path %>